# 七牛云配置（必填）
# 从 https://portal.qiniu.com/user/key 获取 AK/SK
# 空间名称（bucket）从 https://portal.qiniu.com/kodo/bucket 查看
QINIU_AK=
QINIU_SK=
QINIU_BUCKET=yoyac
QINIU_DOMAIN=http://tiyycecb8.hn-bkt.clouddn.com